.settings
.project
tiedamusical-data/.settings
tiedamusical-data/target
tiedamusical-data/.classpath
tiedamusical-data/.project

tiedamusical-entities/.settings
tiedamusical-entities/target
tiedamusical-entities/.classpath
tiedamusical-dentities/.project

tiedamusical-services/.settings
tiedamusical-services/target
tiedamusical-services/.classpath
tiedamusical-services/.project

tiedamusical-web/.settings
tiedamusical-web/target
tiedamusical-web/.classpath
tiedamusical-web/.project